<!--extending the base template-->
{% extends 'base.html' %}

<!-- page title-->
{% block title %}
  Aptee
{% endblock %}
{% block content %}
<!--form to add the new item in the list-->
<!-- <h1>Login Panel.</h1> -->

 
<!-- Button trigger modal -->

<!-- Button trigger modal -->
 



<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li id="logp" class="active" ><a id="login" href="#signin" data-toggle="tab">LogIn</a></li>
              <li class="" id="register"><a id="regin" href="#signup" data-toggle="tab">SignUp</a></li>
              <br>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active" id="signin">
            {{message}} 
            <form class="form" action="/" method="post">
              {{form.csrf_token}}
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Email:</label>
              <div class="controls">
                <div class="email_id"> {{ form.email_id }}</div>
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <div class="password"> {{ form.password }}</div>
              </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
              <label class="control-label" for="rememberme"></label>
              <div class="controls">
                <label class="checkbox inline" for="rememberme-0">
                  <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                  Remember me
                </label>
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls sub_button">
                <button id="signin" name="signin" class="btn btn-success">Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
          {{message}}
          <form class="form" action="/" method="post">
            {{form.csrf_token}}
            <fieldset>
          <!-- Sign Up Form -->
          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="Email">Email:</label>
            <div class="controls">
              <div class="email_id"> {{ form.email_id }}</div>
            </div>
          </div>
          
          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="userid">Name:</label>
            <div class="controls">
              <div class="name"> {{ form.name }}</div>
            </div>
          </div>
          
          <!-- Password input-->
          <div class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
              <div class="password"> {{ form.password }}</div>
            </div>
          </div>
          
      
          
          <!-- Button -->
          <div class="control-group">
            <label class="control-label" for="confirmsignup"></label>
            <div class="controls sub_button">
              <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
            </div>
          </div>
          </fieldset>
          </form>
    </div>
  </div>
    </div>
    <div class="modal-footer">
    <center>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </center>
    </div>
  </div>
</div>
        </div>


        <div id="demo" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>
          
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://drive.google.com/uc?export=veiw&id=1rHNy8CIls-Op_69D3RZRE-iGadXko-mL" alt="Los Angeles" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="chicago.jpg" alt="Chicago" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
              </div> 
            </div>
            <div class="carousel-item">
              <img src="ny.jpg" alt="New York" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>  
            </div>
          </div>
          
          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        
        <div class="container-fluid mt-3">
          <h3>Carousel Example</h3>
          <p>The following example shows how to create a basic carousel with indicators and controls.</p>
        </div>
       

<!-- <div>
   {{message}} no ungli 
  <form class="form" action="" method="post">
    {{form.csrf_token}}
    <div class="email_id"> {{ form.email_id }}</div>
    <div class="password"> {{ form.password }}</div>
    <div class="sub_button"><button style="vertical-align:middle" type="submit" class="btn btn-primary">Sign in!</button></div>
  </form>
</div>
<h1>Register Panel.</h1>
<div>
  {{message}}
  <form class="form" action="" method="post">
    {{form.csrf_token}}
    <div class="email_id"> {{ form.email_id }}</div>
    <div class="password"> {{ form.password }}</div>
    <div class="name"> {{ form.name }}</div>
    <div class="sub_button"><button style="vertical-align:middle" type="submit" class="btn btn-primary">Sign up!</button></div>
  </form>
</div> -->

{% endblock %}
{% block style %}
    <!--Style block-->
    <style>
    #loginbutton{
      width: 150px;
      height: 40px;
      background-color: red;
      color: white;
    }
    #logp{
      width: 200px;
      height: 20px;
    }
    #login{
      font-size: 15px;
      background-color: rgb(218, 34, 86);
      text-align: center;
      text-decoration: none;
      padding: 7px;
      margin-left: 20px;
      color: white;
      border-radius: 5px;
    }
    #login:hover{
      background-color: rgb(226, 128, 128);
    }
    #regin{
      font-size: 15px;
      background-color: rgb(218, 34, 86);
      text-align: center;
      text-decoration: none;
      padding: 7px;
      margin-left: 20px;
      color: white;
      border-radius: 5px;
    }
    #regin:hover{
      background-color: rgb(226, 128, 128);
    }

   

    </style>
   

   
{% endblock %}