{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Aptee
{% endblock %}
{% block page_heading%}
  Aptee
  <!--Page heading-->
{% endblock %}
{% block content %}
<!--form to add the new item in the list-->
<h1>Register here</h1>
<h1>Register Panel.</h1>
<div>
  {{message}}
  <form class="form" action="{{ url_for('account')}}" method="post">
    {{form.csrf_token}}
    <div class="email_id"> {{ form.email_id }}</div>
    <div class="name"> {{ form.name }}</div>
    <div class="DOB"> {{ form.DOB}}</div>
    <div class="gender"> {{ form.gender}}</div>
    <div class="name"> {{form.target}}</div>
    <div class="age"> {{ form.course}}</div>
    <div class="age"> {{ form.college}}</div>
    <div class="age"> {{ form.college_location}}</div>
    <div class="age"> {{ form.semester}}</div>
    <div class="sub_button"><button style="vertical-align:middle" type="submit" class="btn btn-primary">Sign up!</button></div>
  </form>
</div>

{% endblock %}
{% block style %}
    <!--Style block-->
    <style>
    
    </style>
{% endblock %}